body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif; }

.main-nav {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding-top: 2vh;
  margin-bottom: 2vh;
  -webkit-transition: 0.4s ease !important;
  -moz-transition: 0.4s ease !important;
  transition: 0.4s ease !important;
  font-size: 20px; }
  .main-nav .navbar-header a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #7E6A8C; }
  .main-nav .navbar-header a:hover {
    font-size: 20px;
    text-decoration: none;
    color: rgba(126, 106, 140, 0.5); }
  .main-nav .navbar-toggle {
    float: none;
    margin-right: 0;
    border: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2) !important; }
  .main-nav .navbar-nav li a {
    color: #888;
    font-size: 18px; }
  .main-nav .navbar-nav li a:hover {
    color: rgba(126, 106, 140, 0.5); }

.header .shrink {
  height: 8vh;
  background-color: white;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 2vh 5vh 7vh 5vh; }
  .header .shrink .navbar-brand {
    font-size: 20px; }

.fprojects .fprojects-content .fprojects-button, .featured-blogs .fblog-button {
  border: 2px solid rgba(126, 106, 140, 0.5);
  padding: 10px;
  height: 8vh;
  margin: 5vh auto; }
  .fprojects .fprojects-content .fprojects-button .mainButton, .featured-blogs .fblog-button .mainButton {
    background-color: #7e6a8c;
    font-family: 'Oswald';
    height: 8vh;
    padding: 1.5vh 3vh;
    text-align: center;
    color: #eee;
    font-size: 3vh; }
    .fprojects .fprojects-content .fprojects-button .mainButton .aButton:hover, .featured-blogs .fblog-button .mainButton .aButton:hover {
      text-decoration: none; }
    .fprojects .fprojects-content .fprojects-button .mainButton:hover, .featured-blogs .fblog-button .mainButton:hover {
      background-color: #8E799E; }

.loading-indicator {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 110vh;
  margin-top: -20px;
  z-index: 99;
  top: 0;
  text-align: center; }
  .loading-indicator .loader {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translateY(-40%);
    -ms-transform: translateX(-50%);
    transform: translateY(-40%);
    transform: translateX(-50%); }

.stopLoading {
  display: none; }

.header {
  height: 70vh;
  margin: 0;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: bottom; }

#about-me {
  background-image: url("../assets/right_geometric.png");
  background-size: cover;
  background-position: right;
  color: #555;
  font-size: 20px;
  padding: 8vh 0 30vh 0; }
  #about-me .about-wrapper {
    padding: 20px;
    border: 4px solid #7E6A8C; }
    #about-me .about-wrapper .about-image {
      background-image: url("../assets/times_square.jpg");
      background-size: cover;
      background-position: bottom;
      height: 50vh;
      margin: 0 -40px -40px 0; }
  #about-me .about-description {
    padding: 15vh 5vh 0 5vh; }
    #about-me .about-description h1 {
      font-family: 'Oswald';
      color: #7E6A8C; }

.highlights {
  padding-bottom: 8vh;
  background-color: rgba(126, 106, 140, 0.7); }
  .highlights .skill-highlights {
    margin: 0 auto 2vh auto;
    text-align: center; }
  .highlights .skill-border {
    padding: 2vh;
    border: 1.5px solid #333;
    margin-bottom: 8vh; }
  .highlights .skill {
    margin-top: -6vh;
    padding: 0 3vh; }
    .highlights .skill .skill-content {
      background-color: #ddd;
      color: #555;
      padding: 2vh 0;
      margin: 0 -4vh -4vh 0; }
      .highlights .skill .skill-content .skill-item {
        text-align: left;
        margin: 5px 0; }
      .highlights .skill .skill-content .skill-item:before {
        content: "\2714\0020";
        color: #7E6A8C;
        margin-right: 8px; }
      .highlights .skill .skill-content .skill-wrapper {
        margin: 2vh auto;
        border: 1.5px solid #333;
        border-radius: 22px;
        width: 44px;
        height: 44px; }
        .highlights .skill .skill-content .skill-wrapper .skill-image {
          padding: 0.5vh 0 0.5vh 0;
          height: 34px;
          margin-top: 4px; }
      .highlights .skill .skill-content .skill-name {
        padding-top: 1vh;
        font-size: 30px;
        font-family: 'Oswald'; }
      .highlights .skill .skill-content .skill-description {
        padding: 0 20px;
        font-size: 14px; }
        .highlights .skill .skill-content .skill-description .skill-list {
          list-style: none;
          margin-top: 2vh;
          padding: 0 5px; }

.fprojects {
  color: white;
  background-color: rgba(239, 223, 187, 0.5); }
  .fprojects .fprojects-content {
    padding: 5vh;
    text-align: center; }
    .fprojects .fprojects-content .fprojects-title-container {
      position: static; }
      .fprojects .fprojects-content .fprojects-title-container .fprojects-title-inner-container {
        position: relative;
        width: 100%;
        height: 25vh; }
        .fprojects .fprojects-content .fprojects-title-container .fprojects-title-inner-container .fprojects-line {
          position: absolute;
          height: 10px;
          width: 100%;
          margin-top: 10vh;
          background-color: rgba(126, 106, 140, 0.2); }
        .fprojects .fprojects-content .fprojects-title-container .fprojects-title-inner-container .fprojects-title-wrapper {
          border: 2px solid rgba(126, 106, 140, 0.9);
          margin: 5vh auto;
          padding: 10px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0; }
          .fprojects .fprojects-content .fprojects-title-container .fprojects-title-inner-container .fprojects-title-wrapper .fprojects-title {
            font-family: 'Oswald';
            background-color: #7e6a8c;
            font-size: 6vh;
            padding: 2vh 5vh;
            margin: 0 -20px -20px 0; }
    .fprojects .fprojects-content .fprojects-container {
      position: static;
      padding-bottom: 15vh; }
      .fprojects .fprojects-content .fprojects-container .fproject-item {
        margin-top: 2vh; }
        .fprojects .fprojects-content .fprojects-container .fproject-item .fproject-image-wrapper {
          padding: 10px 0;
          border: 3px solid rgba(126, 106, 140, 0.5); }
          .fprojects .fprojects-content .fprojects-container .fproject-item .fproject-image-wrapper .fproject-images {
            width: 100%;
            margin: 5px -30px -40px 0; }
        .fprojects .fprojects-content .fprojects-container .fproject-item .fproject-item-title {
          font-family: 'Oswald';
          margin-top: 40px;
          color: #7e6a8c;
          text-align: center;
          font-size: 18px; }
    .fprojects .fprojects-content .fprojects-footer {
      text-align: center !important;
      color: #000;
      font-size: 30px;
      position: static;
      margin-top: 5vh; }

.featured-blogs {
  padding: 12vh 0;
  background-color: #ddd;
  text-align: center; }
  .featured-blogs .fblog-main-title {
    font-family: 'Oswald';
    font-size: 50px;
    text-align: center;
    color: #7E6A8C;
    margin: 0 auto;
    margin-bottom: 5vh;
    border-top: 3px solid rgba(126, 106, 140, 0.5);
    border-bottom: 3px solid rgba(126, 106, 140, 0.5);
    width: 50vh;
    padding: 2vh 0; }

.fblog-item {
  padding: 2vh;
  text-align: left; }
  .fblog-item .fblog-image-wrapper {
    padding: 10px 0;
    border: 2.5px solid #fff; }
    .fblog-item .fblog-image-wrapper .fblog-images {
      width: 100%;
      margin: 0 -20px -20px 15px; }
  .fblog-item .fblog-container {
    padding-left: 3vw; }
    .fblog-item .fblog-container .fblog-title {
      margin-top: 6vh; }
      .fblog-item .fblog-container .fblog-title a {
        font-size: 25px;
        color: #7E6A8C;
        text-decoration: none; }
      .fblog-item .fblog-container .fblog-title a:hover {
        color: rgba(126, 106, 140, 0.5);
        text-decoration: none; }
    .fblog-item .fblog-container .fblog-content a:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6); }

.instagram {
  margin: 0 auto;
  text-align: center;
  padding: 12vh 0; }
  .instagram .instagram-title {
    font-family: 'Oswald';
    color: #7E6A8C;
    padding-bottom: 5vh; }
  .instagram ul {
    margin: 0 auto;
    padding-left: 0; }
  .instagram li {
    display: inline-block; }
  .instagram .instagram-wrapper .instagram-post {
    height: 18vw;
    width: 18vw;
    margin: 10px 5px;
    vertical-align: 50%;
    overflow: hidden; }
    .instagram .instagram-wrapper .instagram-post img {
      top: 0;
      min-height: 18vw;
      width: 18vw; }

.footer, .main-footer {
  padding: 5vh 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  background-color: rgba(48, 44, 58, 0.8);
  font-family: 'Oswald'; }
  .footer ul, .main-footer ul {
    padding: 2vh 0; }
  .footer .contact-icons, .main-footer .contact-icons {
    display: inline-block; }
    .footer .contact-icons .contact-icons-img, .main-footer .contact-icons .contact-icons-img {
      width: 26px;
      margin-right: 1vw;
      margin-left: 0; }
  .footer .white-divider, .main-footer .white-divider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 3vh 0; }

.plain-header {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  color: #fff; }
  .plain-header .Navigation .main-nav {
    margin: 0;
    padding: 2vh;
    border-radius: 0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #7E6A8C; }
  .plain-header .Navigation .navbar-header a {
    color: #ddd;
    font-size: 20px; }
  .plain-header .Navigation .navbar-inverse .navbar-nav li a {
    color: #eee;
    font-size: 18px; }
  .plain-header .Navigation p {
    color: #fff; }

.footer, .main-footer {
  padding: 5vh 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  background-color: rgba(48, 44, 58, 0.8);
  font-family: 'Oswald'; }
  .footer ul, .main-footer ul {
    padding: 2vh 0; }
  .footer .contact-icons, .main-footer .contact-icons {
    display: inline-block; }
    .footer .contact-icons .contact-icons-img, .main-footer .contact-icons .contact-icons-img {
      width: 26px;
      margin-right: 1vw;
      margin-left: 0; }
  .footer .white-divider, .main-footer .white-divider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 3vh 0; }

.main-footer {
  padding-left: 5vh;
  margin-top: 15vh; }

.all-blogs {
  padding-top: 12vh; }
  .all-blogs .all-blogs-title {
    font-family: 'Oswald';
    text-align: center;
    color: #7E6A8C; }

.blog-page {
  font-size: 17px;
  margin-top: 15vh; }
  .blog-page .blog-page-header {
    padding-bottom: 5vh; }
    .blog-page .blog-page-header .blog-page-image-wrapper {
      border: 3px solid rgba(126, 106, 140, 0.7);
      padding: 20px;
      width: 60vw;
      height: 40vw;
      margin: 0 auto; }
      .blog-page .blog-page-header .blog-page-image-wrapper .blog-page-image {
        width: 60vw;
        height: 40vw;
        overflow: hidden;
        margin: 0 auto; }
        .blog-page .blog-page-header .blog-page-image-wrapper .blog-page-image img {
          width: 60vw;
          min-height: 40vw; }
  .blog-page .blog-page-title {
    text-align: center;
    border-top: 2px solid rgba(126, 106, 140, 0.7);
    border-bottom: 2px solid rgba(126, 106, 140, 0.7);
    width: 40vw;
    margin: 2vh auto;
    padding: 2vh 2vh;
    color: rgba(126, 106, 140, 0.9);
    font-family: 'Oswald'; }
  .blog-page .blog-content-date {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5vh;
    font-family: 'Oswald'; }
  .blog-page .blog-content-par {
    text-indent: 30px; }

.projects-page .projects-page-title {
  font-family: 'Oswald';
  color: #7E6A8C;
  text-align: center;
  margin-top: 12vh; }
.projects-page .filter-input, .projects-page .active-filters {
  display: inline-block; }
.projects-page .active-filters {
  margin: 0 2vh; }
  .projects-page .active-filters .active-tag {
    font-family: 'Oswald';
    background-color: rgba(239, 223, 187, 0.5);
    display: inline-block;
    border-radius: 14px;
    padding: 5px 15px;
    margin: 0 10px; }
    .projects-page .active-filters .active-tag .remove-tag-button {
      margin-left: 10px;
      background-color: rgba(239, 223, 187, 0);
      border: 0px; }
.projects-page .filtered-projects {
  margin-top: 3vh;
  margin-bottom: 15vh; }
  .projects-page .filtered-projects .project-page-item {
    padding: 4vh 0;
    border-bottom: 1px solid #000; }
    .projects-page .filtered-projects .project-page-item .project-page-wrapper {
      border: 5px solid rgba(239, 223, 187, 0.5);
      width: 70%;
      padding: 15px; }
      .projects-page .filtered-projects .project-page-item .project-page-wrapper .project-page-image {
        width: 100%;
        border: 1px solid rgba(126, 106, 140, 0.7);
        margin-bottom: -30px; }
    .projects-page .filtered-projects .project-page-item .project-page-content .project-page-item-title {
      font-family: 'Oswald';
      color: #7E6A8C; }

/*# sourceMappingURL=main.css.map */
