@mixin center { 
  text-align: center; 
}

@mixin colored-background($color, $opacity:1) { 
  background-color: fade-out($color, $opacity) 
}

@mixin colored-font($color) {
 color: $color; 
}

@mixin sofia-title{
 font-family: 'Sofia'; 
}

@mixin oswald-font { 
  font-family: 'Oswald'; }

@mixin blog-item {
  padding: 2vh; 
  text-align: left;
}

@mixin blog-image-wrapper {
  padding: 10px 0;
  border: 2.5px solid #fff;
}