@import "../helpers/mixins";
@import "../helpers/variables";

@import "../components/navbar";
@import "../components/button";
@import "../components/loading-indicator";

/** HEADER **/
.header {
  height: 70vh;
  margin: 0;
  background-image: url('../assets/banner.jpg'); 
  background-size: cover; 
  background-position: bottom;

  .shrink {
    @extend %navbar-shrink;
  }
}

/** ABOUT ME **/
#about-me { 
  background-image: url('../assets/right_geometric.png');
  background-size: cover;
  background-position: right;
  color: #555; 
  font-size: 20px;
  padding: 8vh 0 30vh 0; 

  .about-wrapper {
    padding: 20px; 
    border: 4px solid $purple;

    .about-image {
      background-image: url('../assets/times_square.jpg'); 
      background-size: cover;
      background-position: bottom;
      height: 50vh;
      margin: 0 -40px -40px 0; 
    }
  }

  .about-description {
    padding: 15vh 5vh 0 5vh; 

    h1 {
      @include oswald-font;
      @include colored-font($purple);
    }
  }
}

/** SKILL HIGHLIGHTS **/
.highlights {
  padding-bottom: 8vh;
  @include colored-background($purple, 0.3);

  .skill-highlights {
    margin: 0 auto 2vh auto; 
    text-align: center;
  }

  .skill-border
  { padding: 2vh; 
    border: 1.5px solid #333;
    margin-bottom: 8vh; }

  .skill {
    margin-top: -6vh;
    padding: 0 3vh;

    .skill-content
    { background-color: #ddd;
      color: #555; 
      padding: 2vh 0; 
      margin: 0 -4vh -4vh 0;

      .skill-item {
        text-align: left; 
        margin: 5px 0;
      }
  
      .skill-item:before {
        content:"\2714\0020"; 
        color: $purple; 
        margin-right: 8px;
      }

      .skill-wrapper {
        margin: 2vh auto;
        border: 1.5px solid #333;
        border-radius: 22px;
        width: 44px;
        height: 44px;

        .skill-image {
          padding: 0.5vh 0 0.5vh 0; 
          height: 34px; 
          margin-top: 4px;
        }
      }

      .skill-name {
        padding-top: 1vh; 
        font-size: 30px;
        @include oswald-font;
      }

      .skill-description {
        padding: 0 20px; 
        font-size: $small-font;

        .skill-list {
          list-style: none; 
          margin-top: 2vh; 
          padding: 0 5px;
        }
      }
    }
  }
}

/** FEAURED PROJECTS **/
.fprojects {
  color: white;
  @include colored-background($champagne, 0.5);

  .fprojects-content {
    padding: 5vh; 
    text-align: center;

    .fprojects-title-container {
      position: static;
  
      .fprojects-title-inner-container {
        position: relative;
        width: 100%; 
        height: 25vh; 
        
        .fprojects-line {
          position: absolute;
          height: 10px;
          width: 100%;
          margin-top: 10vh; 
          @include colored-background($purple, 0.8);
        }
  
        .fprojects-title-wrapper {
          border: 2px solid rgba(126, 106, 140, 0.9);
          margin: 5vh auto; 
          padding: 10px;
          position: absolute;
          margin-left: auto;
          margin-right: auto; 
          left: 0;
          right: 0;
  
          .fprojects-title {
            @include oswald-font;
            @include colored-background($purple, 0);
            font-size: 6vh;
            padding: 2vh 5vh; 
            margin: 0 -20px -20px 0;
          }
        }
      }
    }

    .fprojects-container {
      position: static; 
      padding-bottom: 15vh;

      .fproject-item {
        margin-top: 2vh;

        .fproject-image-wrapper {
          padding: 10px 0; 
          border: 3px solid $faded-purple;

          .fproject-images {
            width: 100%; 
            margin: 5px -30px -40px 0;
          }
        }
        .fproject-item-title {
          @include oswald-font;
          margin-top: 40px; 
          color: #7e6a8c;
          text-align: center;
          font-size: 18px;
        }
      }
    }

    .fprojects-button {
      @extend %main-button-wrapper;
    }

    .fprojects-footer {
      text-align: center !important; 
      color: #000;
      font-size: 30px;
      position: static;
      margin-top: 5vh;
    }
  }  
}

/** FEATURED BLOGS **/
.featured-blogs {
  padding: 5vh 0; 
  background-color: #ddd;
  text-align: center;
  
  .fblog-main-title {
    @include oswald-font;
    font-size: 50px; 
    text-align: center;
    color: $purple;
    margin: 0 auto;
    margin-bottom: 5vh;
    border-top: 3px solid rgba(126, 106, 140, 0.5);
    border-bottom: 3px solid rgba(126, 106, 140, 0.5);
    width: 50vh; 
    padding: 2vh 0
  }

  .fblog-item {
    padding: 2vh; 
    text-align: left;

    .fblog-image-wrapper {
      padding: 10px 0;
      border: 2.5px solid #fff;

      .fblog-images {
        width: 100%; 
        margin: 0 -20px -20px 15px;
      }
    }

    .fblog-container {
      padding-left: 3vw;

      .fblog-title {
        margin-top: 6vh;
        a {
          font-size: 25px; 
          color: $purple;
          text-decoration: none; 
        }

        a:hover {
          color: $faded-purple;
          text-decoration: none;
        }
      }

      .fblog-content {
        a:hover {
          text-decoration: none;
          color: rgba(0,0,0,0.6);
        }
      }
    }
  }

  .fblog-button {
    @extend %main-button-wrapper;
  }
}

/** INSTAGRAM **/
.instagram
{ margin: 0 auto; 
  text-align: center; 
  padding: 5vh 0; 

  .instagram-title {
    @include oswald-font;
    color: $purple;
    padding-bottom: 5vh;
  }

  ul {
    margin: 0 auto;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }
  .instagram-wrapper {
    .instagram-post {
      height: 18vw;
      width: 18vw;
      margin: 10px 5px;
      vertical-align: 50%;
      overflow: hidden;

      img {
        top: 0;
        min-height: 18vw;
        width: 18vw;
      }
    }
  }
}

/** CONTACT INFO **/
.footer {
  padding: 5vh 0;
  color:rgba(255,255,255,0.8); 
  font-size: 18px; 
  @include colored-background(#302C3A, 0.2);
  @include oswald-font;

  ul {
    padding: 2vh 0;
  }

  .contact-icons {
    display: inline-block;

    .contact-icons-img {
      width: 26px; 
      margin-right: 1vw; 
      margin-left: 0;
    }
  }

  .white-divider {
    height: 2px;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    margin: 3vh 0;
  }
}
