@import "../helpers/mixins";
@import "../helpers/variables";

@import "../components/navbar";
@import "../components/loading-indicator";

/** HEADER **/
.header {
  height: 70vh;
  margin: 0;
  background-image: url('../assets/banner.jpg'); 
  background-size: cover; 
  background-position: bottom;

  .shrink {
    @extend %navbar-shrink;
  }
}

/** ABOUT ME **/
#about-me { 
  background-image: url('../assets/right_geometric.png');
  background-size: cover;
  background-position: right;
  color: #555; 
  font-size: 20px;
  padding: 8vh 0 30vh 0; 

  .about-wrapper {
    padding: 20px; 
    border: 4px solid $purple;

    .about-image {
      background-image: url('../assets/times_square.jpg'); 
      background-size: cover;
      background-position: bottom;
      height: 50vh;
      margin: 0 -40px -40px 0; 
    }
  }

  .about-description {
    padding: 15vh 5vh 0 5vh; 

    h1 {
      @include oswald-font;
      @include colored-font($purple);
    }
  }
}

/** SKILL HIGHLIGHTS **/
.highlights {
  padding-bottom: 8vh;
  @include colored-background($purple, 0.3);

  .skill-highlights {
    margin: 0 auto 2vh auto; 
    text-align: center;
  }

  .skill-border
  { padding: 2vh; 
    border: 1.5px solid #333;
    margin-bottom: 8vh; }

  .skill {
    margin-top: -6vh;
    padding: 0 3vh;

    .skill-content
    { background-color: #ddd;
      color: #555; 
      padding: 2vh 0; 
      margin: 0 -4vh -4vh 0;

      .skill-item {
        text-align: left; 
        margin: 5px 0;
      }
  
      .skill-item:before {
        content:"\2714\0020"; 
        color: $purple; 
        margin-right: 8px;
      }

      .skill-wrapper {
        margin: 2vh auto;
        border: 1.5px solid #333;
        border-radius: 22px;
        width: 44px;
        height: 44px;

        .skill-image {
          padding: 0.5vh 0 0.5vh 0; 
          height: 34px; 
          margin-top: 4px;
        }
      }

      .skill-name {
        padding-top: 1vh; 
        font-size: 30px;
        @include oswald-font;
      }

      .skill-description {
        padding: 0 20px; 
        font-size: $small-font;

        .skill-list {
          list-style: none; 
          margin-top: 2vh; 
          padding: 0 5px;
        }
      }
    }
  }
}

/** FEAURED PROJECTS **/
.fprojects {
  color: white;
  @include colored-background($champagne, 0.5);

  .fprojects-content {
    padding: 5vh; 
    text-align: center;

    .fprojects-title-container {
      position: static;
  
      .fproject-title-inner-container {
        position: relative;
        width: 100%; 
        height: 25vh; 
        
        .fprojects-line {
          position: absolute;
          height: 10px;
          width: 100%;
          margin-top: 10vh; 
          @include colored-background($purple, 0.8);
        }
  
        .fprojects-title-wrapper {
          border: 2px solid rgba(126, 106, 140, 0.9);
          margin: 5vh auto; 
          padding: 10px;
          position: absolute;
          margin-left: auto;
          margin-right: auto; 
          left: 0;
          right: 0;
  
          .fprojects-title {
            @include oswald-font;
            @include colored-background($purple, 0);
            font-size: 6vh;
            padding: 2vh 5vh; 
            margin: 0 -20px -20px 0;
          }
        }
      }
    }

    .fprojects-container {
      position: static; 
      padding-bottom: 15vh;

      .fproject-item {
        margin-top: 2vh;

        .fproject-image-wrapper {
          padding: 10px 0; 
          border: 3px solid $faded-purple;

          .fproject-images {
            width: 100%; 
            margin: 5px -30px -40px 0;
          }
        }
        .fproject-item-title {
          @include oswald-font;
          margin-top: 40px; 
          color: #7e6a8c;
          text-align: center;
          font-size: 18px;
        }
      }
    }

    .fprojects-footer {
      text-align: center !important; 
      color: #000;
      font-size: 30px;
      position: static;
      margin-top: 5vh;
    }
  }  
}

/** FEATURED BLOGS **/

/** INSTAGRAM **/

/** CONTACT INFO **/