.center
{ text-align: center; }

.purpleBackground
{ background-color: rgba(126, 106, 140, 0.7); }

.champagneBackground
{ background-color: rgba(239, 223, 187, 0.5) }

.Sofia-title
{ font-family: 'Sofia'; }

.Oswald-font
{ font-family: 'Oswald'; }  

.purpleFont
{ color: #7e6a8c }

.header.Navigation.mainNav.container.navbar-header.navbar-brand
{ font-size: 25px; 
  margin-right: 50px; }

.plainHeader
{ background-color: rgba(0,0,0,0);
  padding: 0;
  color: #fff }

.plainHeader .mainNav
{ margin: 0; 
  padding: 2vh;
  background-color: rgba(126, 106, 140, 1);
  border-radius: 0; 
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;}

.plainHeader .navbar-header a
{ color: #ddd;
  font-size: 20px; }

.plainHeader .navbar-inverse .navbar-nav>li>a
{ color: #eee; 
  font-size: 18px; }

.plainHeader p
{ color: #fff; }

.mainBorder
{ height: 4px;
  background-color: #fff; }

.Blog
{ padding: 5vh 0; 
  background-color: #ddd;
  text-align: center; }

.Blog h1
{ font-size: 50px; 
  text-align: center; }

.BlogItem
{ padding: 2vh; 
  text-align: left; }

.blogTitle
{ margin: 0 auto;
  margin-bottom: 5vh;
  border-top: 3px solid rgba(126, 106, 140, 0.5);
  border-bottom: 3px solid rgba(126, 106, 140, 0.5);
  width: 50vh; 
  padding: 2vh 0}

.fBlogContainer
{ padding-left: 3vw}

.fBlogImages
{ width: 100%; 
  margin: 0 -20px -20px 15px; }

.fBlogImageWrapper
{ padding: 10px 0;
  border: 2.5px solid #fff}

.fBlogTitle
{ margin-top: 6vh; }

.fBlogTitle a
{ font-size: 25px; 
  color: #000; }

.fBlogTitle a:hover
{ color: rgba(0,0,0,0.6); 
  text-decoration: none; }

.fBlogContent a:hover
{ text-decoration: none;
  color: rgba(0,0,0,0.6) }

.fBlogItemsLine
{ height: 2px;
  background-color: rgba(126, 106, 140, 0.3);
  margin: 4vh auto; }

.aButton:hover
{ text-decoration: none; }

.mainButtonWrapper
{ border: 2px solid rgba(126, 106, 140, 0.5);
  padding: 10px;
  height: 8vh;  
  margin: 5vh auto; }

.mainButton
{ height: 8vh; 
  padding: 1.5vh 3vh;
  text-align: center;
  background-color: rgba(126, 106, 140, 1);
  color: #eee;
  font-size: 3vh; }

.mainButton:hover
{ background-color: #342C3A;}

.instagram
{ margin: 0 auto; 
  text-align: center; 
  padding: 5vh 0; }

.instagram ul 
{ margin: 0 auto;
  padding-left: 0; }

.instagram li
{ display: inline-block; }

.instagramTitle
{ padding-bottom: 5vh; }

.instagramPosts
{ height: 18vw;
  width: 18vw;
  margin: 10px 5px;
  vertical-align: 50%;
  overflow: hidden; }

.instagramPosts img
{ top: 0;
  min-height: 18vw;
  width: 18vw; }

.footer
{ padding: 5vh 0;
  background-color: rgba(48, 44, 58, 0.8); 
  color:rgba(255,255,255,0.8); 
  font-size: 18px; 
  font-family: 'Oswald' }

.mainFooter
{ padding-left: 5vh;
  margin-top: 15vh; }

.footer ul
{ padding: 2vh 0}

.whiteDivider
{ height: 2px;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  margin: 3vh 0; }

.contactIcons
{ display: inline-block; ;}

.contactIconsImg
{ width: 26px; 
  margin-right: 1vw; 
  margin-left: 0 }

/** ALL BLOGS **/
.allBlogsTitle
{ text-align: center; }

/** BLOG PAGES **/
.blogPage
{ font-size: 17px; 
  margin-top: 15vh; }

.blogContentPar
{ text-indent: 30px; }

.blogContentDate
{ font-size: 20px;
  text-align: center; 
  margin-bottom: 5vh; }

.blogPageHeader
{ padding-bottom: 5vh; }
.blogPageImage img
{ width: 60vw; 
  min-height: 40vw; }

.blogPageImage
{ width: 60vw;
  height: 40vw;
  overflow: hidden;
  margin: 0 auto; }

.blogPageImageWrapper
{ border: 3px solid rgba(126, 106, 140, 0.7);
  padding: 20px; 
  width: 60vw;
  height: 40vw; 
  margin: 0 auto; }

.blogPageTitle
{ text-align: center; 
  border-top: 2px solid rgba(126, 106, 140, 0.7);
  border-bottom: 2px solid rgba(126, 106, 140, 0.7); 
  width: 40vw; 
  margin: 2vh auto; 
  padding: 2vh 2vh; 
  color: rgba(126, 106, 140, 0.9) }

/** end BLOG PAGES **/

/** PROJECTS PAGE **/
.ProjectsPage
{ padding-top: 13vh; }
  
.projectsPageTitle
{ text-align: center }

.activeFilters
{ margin: 0 2vh; }

.filterInput 
{ display: inline-block; }

.dropdown-menu
{ padding: 0 15px; }

.filterMenuItems
{ padding: 2px 0; 
  color: #000;}

.activeTag
{ display: inline-block;
  border-radius: 14px;
  background-color: rgba(239, 223, 187, 0.5);
  padding: 5px 15px; 
  margin: 0 10px; }

.removeTagButton
{ margin-left: 10px;
  background-color: rgba(239, 223, 187, 0);
  border: 0px;  }

.filteredProjects
{ margin-top: 3vh; 
  margin-bottom: 15vh; }

.mProjectWrapper 
{ border: 5px solid rgba(239, 223, 187, 0.5);
  width: 70%; 
  padding: 15px }

.filteredProjects img
{ width: 100%; 
  border: 1px solid rgba(126, 106, 140, 0.7); 
  margin-bottom: -30px; }

.mProjectsItem
{ padding: 4vh 0; 
  border-bottom: 1px solid #000; }


/** end PROJECTS PAGE **/

/** BLOG GENERATOR **/
.blogGenerator
{ margin-top: 2vh; }

.blogGenerator h1
{ margin-bottom: 5vh; }

.bgImage
{ width: 100%; }

.bgButton
{ margin: 2vh auto; 
  text-align: center;}
/** end BLOG GENERATOR **/

@media (max-width: 768px) {
  .Navigation .navbar-fixed-top
  { background-color: #fff; }

  .Navigation .navbar-collapse
  { background-color: #fff; 
    border: 0;}

  .Navigation .navbar-header button
  { background-color: #fff !important }

  .Navigation .navbar-header .icon-bar
  { background-color: rgba(126, 106, 140, 0.7) !important }

  .plainHeader .navbar-header a
  { color: rgba(126, 106, 140, 0.7);
    font-weight: bold; }

  .plainHeader .navbar-inverse .navbar-nav>li>a
  { color: #777; }

  .mainNav
  { padding: 0; }

  .AboutImageContainer
  { width: 100%;
    padding: 0 7vh; }

  .skill
  { padding: 0 6vh }
}
