body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}

.center
{ text-align: center; }

.purpleBackground
{ background-color: rgba(126, 106, 140, 0.7); }

.champagneBackground
{ background-color: rgba(239, 223, 187, 0.5) }

.Sofia-title
{ font-family: 'Sofia'; }

.Oswald-font
{ font-family: 'Oswald'; }  

.purpleFont
{ color: #7e6a8c }

.navItems 
{ margin: 20px; 
  font-size: 20px;
  text-decoration: none; 
  color: #888; }

.navTitle
{ margin: 30px 50px; 
  font-size: 20px; 
  font-weight: bold; }

.navBlock
{ display: inline-flex; }

.nav
{ padding: 20px }

.header
{ height: 70vh;
  background-color: #999;
  background-image: url('./assets/banner.jpg'); 
  background-size: cover; 
  background-position: bottom }

.AboutMe
{ background-image: url('./assets/right_geometric.png');
  background-size: cover;
  background-position: right;
  color: #555; 
  font-size: 20px;
  padding: 8vh 0 12vh 0; }

.AboutDescription
{ padding: 15vh 5vh 0 5vh; }

.AboutWrapper
{ padding: 20px; 
  border: 4px solid #7e6a8c; }

.AboutImage
{ background-image: url('./assets/times_square.jpg'); 
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  margin: 0 -40px -40px 0; }

.Highlights 
{ padding-bottom: 8vh; }

.SkillHighlights
{ margin: 0 auto 2vh auto; 
  text-align: center; }

.skillBorder
{ padding: 2vh; 
  border: 1.5px solid #333;
  margin-bottom: 8vh; }

.skill 
{ margin-top: -6vh;
  padding: 0 3vh; }

.skillContent
{ background-color: #ddd;
  color: #555; 
  padding: 2vh 0; 
  margin: 0 -4vh -4vh 0 }

.skillDescription
{ padding: 0 20px; 
  font-size: 14px; }

.skillName
{ padding-top: 1vh; 
  font-size: 30px; }

.skillImage
{ padding: 0.5vh 0 0.5vh 0; 
  height: 34px; 
  margin-top: 4px; }

.skillWrapper 
{ margin: 2vh auto;
  border: 1.5px solid #333;
  border-radius: 22px;
  width: 44px;
  height: 44px; }

.mainBorder
{ height: 4px;
  background-color: #fff; }

.projects 
{ color: #fff; }

.projectsContent
{ padding: 5vh; 
  text-align: center; }

.projectImages
{ width: 100%; 
  margin: 5px -30px -40px 0; }

.imageWrapper
{ padding: 10px 0; 
  border: 3px solid rgba(126, 106, 140, 0.5); }

.projectTitle
{ margin-top: 40px; 
  color: #7e6a8c;
  text-align: center; }

.projectItem
{ margin-top: 2vh; }

.projectButton
{ border: 2px solid rgba(126, 106, 140, 0.5);
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
  padding: 1vh 3vh; 
  color: #7e6a8c; 
  margin: 6vh 0;}

.Blog
{ padding: 5vh 0; 
  background-color: #ddd }

.BlogItem
{ padding: 2vh; }

.blogTitle
{ margin-bottom: 5vh }

.fBlogContainer
{ padding-left: 3vw}

.fBlogImages
{ width: 100%; 
  margin: 0 -20px -20px 15px; }

.fBlogImageWrapper
{ padding: 10px 0;
  border: 2.5px solid #fff}

.fBlogTitle
{ font-size: 25px; }

.instagram
{ margin: 0 auto; 
  text-align: center; 
  padding: 5vh 0; }

.instagram ul 
{ margin: 0 auto;
  padding-left: 0; }

.instagram li
{ display: inline-block; }

/* .instagramWrapper
{ border: 1px solid #333; } */

.instagramTitle
{ padding-bottom: 5vh; }

.instagramPosts
{ height: 18vw;
  width: 18vw;
  margin: 10px 5px;
  vertical-align: 50%;
  overflow: hidden; }

.instagramPosts img
{ top: 0;
  min-height: 18vw;
  width: 18vw; }

.ContactInfo
{ height: 50vh;
  padding: 5vh 0;
  background-color: rgba(48, 44, 58, 0.8); 
  color:rgba(255,255,255,0.8); 
  font-size: 18px; 
  font-family: 'Oswald' }

.ContactInfo ul
{ padding: 2vh 0}

.whiteDivider
{ height: 2px;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  margin: 3vh 0; }

.contactIcons
{ display: inline-block; ;}

.contactIconsImg
{ width: 26px; 
  margin-right: 1vw; 
  margin-left: 0}

